[gcode_macro CLEAN_NOZZLE]
gcode:
    {% set wipe_temp = params.TEMP|default(180)|int %}
    {% set wipe_x = params.X|default(100)|float %}
    {% set wipe_z = params.Z|default(0.2)|float %}
    {% set wipe_count = params.COUNT|default(10)|int %}
    {% set wipe_x2 = wipe_x + 5|float %}

    SAVE_GCODE_STATE NAME=clean_nozzle_state
    G28

    M109 S{wipe_temp}

    G90
    G1 Z10 F3000
    G1 X{wipe_x} F9000

    # Position bed so front edge is under nozzle
    G1 Y5 F9000
    G1 Z{wipe_z} F600

    # Sweep: bed goes forward (Y0) then back (Y15) repeatedly
    {% for i in range(wipe_count) %}
        G1 Y-5 F3000
        G1 Y-10 F3000
    {% endfor %}
    {% for i in range(wipe_count) %}
        G1 X{wipe_x} Y-5 F3000
        G1 X{wipe_x2} Y-5 F3000
    {% endfor %}

    G1 Z10 F3000
    M104 S0   # turn off extruder heater, don't wait

    RESTORE_GCODE_STATE NAME=clean_nozzle_state


[gcode_macro CLEAN_NOZZLE_BRUSH]
gcode:
    {% set wipe_temp = params.TEMP|default(180)|int %}
    {% set wipe_x = params.X|default(0)|float %}
    {% set wipe_z = params.Z|default(0.2)|float %}
    {% set wipe_count = params.COUNT|default(10)|int %}
    {% set wipe_x2 = wipe_x + 5|float %}

    G90
    G1 Z10 F3000
    G1 X0 Y0 F3000

    # Position bed so front edge is under nozzle
    G1 X-5 Y0 F9000
    G1 Z0 F600

    # Sweep: bed goes forward (Y0) then back (Y15) repeatedly
    {% for i in range(wipe_count) %}
        G1 Y10 F9000
        G1 Y-10 F9000
    {% endfor %}

    G1 Z10 F3000
    #M104 S0   # turn off extruder heater, don't wait

    #RESTORE_GCODE_STATE NAME=clean_nozzle_state


[gcode_macro CLEAN_NOZZLE_CIRCLE]
gcode:
    {% set wipe_temp = params.TEMP|default(150)|int %}
    {% set wipe_x = params.X|default(100)|float %}
    {% set wipe_y = params.Y|default(5)|float %}
    {% set wipe_z = params.Z|default(0.2)|float %}
    {% set wipe_count = params.COUNT|default(5)|int %}
    {% set radius = params.RADIUS|default(5)|float %}

    SAVE_GCODE_STATE NAME=clean_nozzle_circle_state

    M109 S{wipe_temp}

    G90
    G1 Z10 F3000
    G1 X{wipe_x} Y{wipe_y} F9000
    G1 Z{wipe_z} F600

    # Circular wipe — G2 = clockwise, center offset I=radius
    {% for i in range(wipe_count) %}
        G2 I{radius} F3000
    {% endfor %}

    G1 Z10 F3000

    RESTORE_GCODE_STATE NAME=clean_nozzle_circle_state

