##
## input shaping with mpu-6050, which are i2c based 
##
##

#[include input_shaping_calibration.cfg]

[input_shaper]
shaper_type: mzv
shaper_freq_x: 42 # default value copied from ender 3v3 se marlin code
shaper_freq_y: 40 # default value copied from ender 3v3 se marlin code
damping_ratio_x: 0.15 # default value copied from ender 3v3 se marlin code
damping_ratio_y: 0.15 #default value copied from ender 3v3 se marlin code
